#header{
	margin: 15px 0 30px 0;
	position: relative;
	height: 10px;
}
#header li{
	display: inline;
	margin: 0px 10px;
	font-family: sans-serif;
	font-size: 13px;
	list-style-type: none; 
}

#logo{
	display:block;
	margin: 200px auto 30px;
	padding-right: 110px;
}

ul{
	display: flex;
	position: absolute;
	right: 0;
	margin: 0 20px;
	align-items: center;
	justify-content: center;
}

body{
	margin: 0;
}

a:link, a:visited{
	text-decoration: none;
	color: grey;
}

a:hover{
	text-decoration: underline;
	color:black;
}


#searchbar{
	display: block;
	width: 700px;
	height: 50px;
	font-size: 24px;
	margin: 15px 20px 20px 0;

}

#searchbar:hover{
	box-shadow: 0px 2px 8px #dddddd;
	outline: none;
	border:none;
}

form{
	margin-left: 28%;
	margin-right: auto;
	margin-top: 0;
}
.btns{
	padding-left: 190px
}

.btn{
	align-items: center;
	justify-content: center;
	display: inline-flex;
	width: 140px;
	height: 40px;
	margin-right: 20px;
	transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.2s;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    background-color: #f2f2f2;
    color: #8c8c8c;
    font-weight: bold;
    border: none;
}

.btn:hover{
	border: 0.5px solid;
	border-color: black;
	color: black;
}

.footer{
	font-family: sans-serif;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #f2f2f2;
	display: flex;
	justify-content: space-between;
	height: 40px;
	align-items: center;
	border-top: 0.5px solid #d9d9d9;
}
.footer p{
	font-size: 13px;
	color:#8c8c8c;
	display:inline;
	margin: 10px;
}
.left{
	margin-left: 20px;
}
.right{
	margin-right: 20px;
}
.footer p:hover{
	text-decoration: underline;;
}